<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.GestionMobileKApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestion_MobileK">
        <!-- Ton MainActivity déjà là -->

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.persons.PersonListActivity"
            android:exported="false" />

        <activity android:name=".ui.persons.AddPersonActivity" android:exported="false" />
        <activity android:name=".ui.items.ItemListActivity" android:exported="false"/>
        <activity android:name=".ui.items.AddItemActivity" android:exported="false"/>
        <activity android:name=".ui.persons.PersonDetailActivity" android:exported="false"/>
        <activity android:name=".ui.persons.EditPersonActivity" android:exported="false"/>
        <activity android:name=".ui.history.HistoriqueActivity" android:exported="false"/>
        <activity android:name=".ui.history.RepasDetailActivity" android:exported="false"/>
        <activity android:name=".ui.future.FutureRecettesActivity" android:exported="false"/>
        <activity android:name=".ui.future.AddEditFutureRecetteActivity" android:exported="false"/>
        <activity android:name=".ui.future.FutureRecetteDetailActivity" android:exported="false"/>
        <activity android:name=".ui.history.AddHistoriqueRepasActivity" android:exported="false"/>
        <activity android:name=".ui.persons.PersonMealsHistoryActivity" android:exported="false"/>
        <activity android:name=".ui.persons.PersonGroupTasteActivity" android:exported="false"/>
        <activity android:name=".ui.settings.SettingsActivity" android:exported="false"/>
        <activity android:name=".ui.settings.OnlineDiagnosticActivity" android:exported="false" />

        <receiver
            android:name=".reminders.FutureReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".reminders.FutureReminderBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>